chromedriver_url: http://chromedriver:4444/wd/hub
geckodriver_url: http://geckodriver:4444
extension_path: /check-mark/releases/test
pender_url: http://pender:3200
check_api_url: http://api:3000
imgur_client_id:
