{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "formatjs",
          {
            "idInterpolationPattern": "[sha512:contenthash:base64:6]",
            "ast": true
          }
        ],
        ["relay"]
      ]
    },
    "development": {
      "plugins": [
        [
          "formatjs",
          {
            "idInterpolationPattern": "[sha512:contenthash:base64:6]",
            "ast": true
          }
        ],
        ["relay"]
      ]
    }
  }
}
