{
  "presets": ["stage-0", "react", "react-native"],
  "env": {
    "production": {
      "plugins": [["react-intl", { "messagesDir": "./src/localization/messages/" }], ["relay"], ["transform-react-jsx-source"]]
    },
    "development": {
      "plugins": [["react-intl", { "messagesDir": "./src/localization/messages/" }], ["relay"], ["transform-react-jsx-source"]]
    }
  }
}
