{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [["react-intl", { "messagesDir": "./src/localization/messages/" }], ["relay"], ["transform-react-jsx-source"]]
    },
    "development": {
      "plugins": [["react-intl", { "messagesDir": "./src/localization/messages/" }], ["relay"], ["transform-react-jsx-source"]]
    }
  }
}
