node_modules
coverage
build
*.sw*
*~
npm-debug.log
test/config.yml
test/C:\\nppdf32Log\\debuglog.txt
test/.bundle/
test/vendor/
config.js
.config.js.bkp
src/relay/relay.json
releases/test
webdriver-profile*
FindGraphQLTags-*
__generated__
haste-map-*
.expo
metro-bundler-*
src/localization/messages
src/style/*.css
android/.gradle
android/app/src/main/assets/*bundle*
*.apk
.transifexrc
build.zip
dist
.yalc
yalc.lock
