const config = {
  appName: 'Check Local',
  appId: 'checkqa',
  appEmail: 'check@local.com',
  appColor: '#2e77fc',
  appDescription: 'Verify breaking news online',
  checkRelayPath: '/api/public/relay.json',
  checkApiUrl: 'http://localhost:3000',
  checkWebUrl: 'http://localhost:3333',
  mapboxApiKey: null, // '<MAPBOX API KEY>'
};
export default config;
