{
  "title": "Bridge Edge",
  "bridgeApiBase": "https://bridge-api.edge.meedan.com",
  "bridgeEmbedBase": "https://bridge-embed.edge.meedan.com",
  "suffix": "edge",
  "public": "false",
  "googleAppId": "cejiobkmoeldcblgpbcbmhcjajilcgpm",
  "googleClientId": "645211925992-egkf6agkgglnak2n6pn32qvqg04v9ao7.apps.googleusercontent.com",
  "googleCode": "4/rorqGdfj9sq9mldapJpRF4EZoJqfap4h2j0dMwdL8x4",
  "googleAccessToken": "ya29.hAJtDOQQS95lMJ-0C74IMTdGbXnNZ4-PtOFeXiydLwEG2XZlqgMJNhAcHcXXTnAUikqR"
}
