// Colors

$white: #fff;
$light-grey: #fafafa;
$clear-blue: #2e77fc;
$black-5: rgba(0, 0, 0, 0.05);
$black-12: rgba(0, 0, 0, 0.12);
$black-16: rgba(0, 0, 0, 0.16);
$black-24: rgba(0, 0, 0, 0.24);
$black-26: rgba(0, 0, 0, 0.26);
$black-40: rgba(0, 0, 0, 0.40);
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);
