{
  "version": "0.1.676",
  "name": "Check Mark",
  "manifest_version": 2,
  "description": "News verification.",
  "browser_action": {
    "default_icon": "img/logo/check.png",
    "default_title": "Check Mark",
    "default_popup": "popup.html"
  },
  "icons": {
    "16": "img/logo/check.png"
  },
  "background": {
    "page": "background.html"
  },
  "content_scripts": [],
  "permissions": [
    "contextMenus",
    "activeTab",
    "storage",
    "http://bridge-api-base/",
    "https://cdn.embedly.com/",
    "https://platform.twitter.com/",
    "https://cdn.api.twitter.com/",
    "https://syndication.twimg.com/",
    "https://cdn.syndication.twimg.com/",
    "https://syndication.twitter.com/",
    "https://cdn.syndication.twitter.com/",
    "https://fonts.googleapis.com/",
    "http://bridge-embed-base/"
  ],
  "content_security_policy": "script-src 'self' 'unsafe-eval' http://localhost:3005 http://bridge-embed-base https://cdn.embedly.com https://platform.twitter.com https://cdn.api.twitter.com https://syndication.twimg.com https://syndication.twitter.com https://cdn.syndication.twitter.com https://cdn.syndication.twimg.com https://stats.pusher.com; object-src 'self'; style-src 'self' https://fonts.googleapis.com https://platform.twitter.com https://*.twimg.com https://syndication.twitter.com https://i-cdn.embed.ly https://cdn.embedly.com https://cdn.api.twitter.com https://syndication.twimg.com 'unsafe-inline'; img-src 'self' https://i-cdn.embed.ly https://syndication.twitter.com data: https://*.twimg.com https://platform.twitter.com https://fonts.googleapis.com;"
}
